.khan__book-link {
    height: 42px;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
  }
  .khan__book-link:hover {
    opacity: 0.75;
  }